:root {

  --orange-darkest: #491a00;
  --orange-darker: #733d0d;
  --orange: #9f6333;
  --orange-lighter: #ce8c59;
  --orange-lightest: #fdb681;

  --yellow-darkest: #efcc33;
  --yellow-darker: #f4d860;
  --yellow: #f7e485;
  --yellow-lighter: #fbf0a9;
  --yellow-lightest: #fffccb;

  --green-darkest: #002f00;
  --green-darker: #005016;
  --green: #167437;
  --green-lighter: #439958;
  --green-lightest: #6ac07c;

  --blue-darkest: #00255d;
  --blue-darker: #003c79;
  --blue: #005697;
  --blue-lighter: #0071b5;
  --blue-lightest: #008dd4;

  --red-darkest: #640000;
  --red-darker: #880011;
  --red: #ad0d2a;
  --red-lighter: #d33b45;
  --red-lightest: #fa5f62;

  --white-darkest: #e7e2c2;
  --white-darker: #ede9cf;
  --white: #f2f0de;
  --white-lighter: #f8f7ed;
  --white-lightest: #fefefb;

  --black-darkest: #060702;
  --black-darker: #161809;
  --black: #272912;
  --black-lighter: #383a1b;
  --black-lightest: #474b23;

  --black-100: #000;
  --black-90: #1a1a1a;
  --black-80: #333;
  --black-70: #4d4d4d;
  --black-60: #666;
  --black-50: #808080;
  --black-40: #999;
  --black-30: #b3b3b3;
  --black-20: #ccc;
  --black-10: #e6e6e6;
  --white-0: #fff;

  --color-primary: var(--black-darkest);
  --color-secondary: var(--orange-darkest);
  --color-accent: var(--green);


  --font-family: neue-haas-grotesk-text, sans-serif;
  --font-family-alt: clarendon-text-pro, serif;
  --font-family-display: cooper-black-std, serif;
  --font-family-text: neue-haas-grotesk-text, sans-serif;
  --font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue",
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono",
    "Lucida Console", monospace;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  // Type scale major second
  --text-scale-ratio: 1.125;

  --font-size-xxxx-display: 4.624rem; //73px
  --font-size-xxx-display: 4.11rem; //65px
  --font-size-xx-display: 3.653rem; //58px
  --font-size-x-display: 2.887rem; //46px
  --font-size-display: 2.566rem; // 41px
  --font-size-xxxx-large: 2.027rem; //36px;
  --font-size-xxx-large: 1.802rem; //28px
  --font-size-xx-large: 1.602rem; //25px
  --font-size-x-large: 1.424rem; //22px
  --font-size-large: 1.266rem; //20px
  --font-size-medium: 1.125rem; //18px
  --font-size: 1rem; //16px
  --font-size-small: 0.889rem; // 14px
  --font-size-x-small: 0.79rem; // 12px

  // Line height
  --line-height-text: 1.5; //150%
  --line-height-display: 1.125; //112.5%
  --line-height-alt: 1.25; //125%
  --line-height: 1;

  // Border radii

  --border-radius-x-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;

  // Border widths

  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 4px;
  --border-thin: var(--border-width-hairline) solid var(--black-50);
  --border-thick: var(--border-width-thick) solid var(--black-20);

  --border-thin-primary: var(--border-width-hairline) solid var(--color-primary);
  --border-thick-primary: var(--border-width-thick) solid var(--color-primary);

  --border-thin-accent: var(--border-width-hairline) solid var(--color-accent);
  --border-thick-accent: var(--border-width-thick) solid var(--color-accent);


  // Spacing

  --max-width: 90rem;
  --min-width: 60rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: 0.125rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;

  // Breakpoints relative to 16px base font
  --bp-x-small: 18.75em; //300px
  --bp-small: 30em; //480px
  --bp-medium: 48em; // 768px;
  --bp-large: 64em; // 1024px
  --bp-x-large: 75em; // 1200px;
  --bp-xx-large: 87.5rem; //1400px;
}
