// social icons svg

.social-icons > a:link {
  text-decoration: none;
}

.social-icons > a:hover,
.social-icons > a:focus {
  background-color: initial;
  outline: initial;
}

.social-icons a > .icon {
  fill: var(--color-secondary);
}

.social-icons a > .icon:focus,
.social-icons a > .icon:hover {
  fill: var(--color-primary);
}

.icon.microblog {
  transform: translateY(-7px);
}

/* Identify PDF Bombs! */
a[href$=".pdf"]:after { 
  content: " (PDF)"; 
 
}

a[href$=".pdf"]:before { 
  background: url("../icons/office-file-pdf.svg");
  width: 24px;
  height: 24px;
  content:' ';
  display: inline-flex;
  margin-right: var(--spacing);
}

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")"; }